h1 {
  font-family: helvetica;
  font-weight: 200;
}

.main {
  display: flex;
  justify-content: space-between;
}
.react-bs-table-pagination {
  position: fixed;
  bottom: 0;
}

.data-table {
  background-color: #c0d9e5;
  border-radius: 10px;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  height: 570px;
  flex: 1;
  overflow-y: scroll;
}

.weighting-editor {
  margin-top: 2%;
  margin-right: 5%;
  flex: 1;
  font-size: 0.9rem;
}
